<article>
	<!-- Porterformaat -->
	<img src="https://vasilis.nl/voto/fotos/klein/170126170241-we-hebben-een-bortusk-1280.jpg" alt="" />
	<!-- Landschapformaat -->
	<!-- <img src="https://vasilis.nl/voto/fotos/klein/161001174911-verhuizen-1280.jpg" alt="" /> -->
	<h2>Deze foto heeft een titel</h2>
	<p>En er hoort ook nog een uitgebreide beschrijving bij. Dit zie je vaak op nieuwssites. Of op fotoblogs. Je zou de foto ook door een video kunnen vervangen eventueel. En dan heb je een soort Youtube</p>
	<footer>
		<ul>
			<li>6-2-2017</li>
			<li>© 2017 Vasilis van Gemert</li>
		</ul>
	</footer>
</article>
